*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    
    

}

nav{
    background-image: grey;
}
nav ul{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
nav ul li{
    padding:10px 20px;
}

nav ul li a{
    color: black;
    font-size:15px ;
    text-decoration: none;
    font-family:"Poppins",sans-serif;
}

table, th, td {
    border:1px solid black;
  }